<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>application-identifier</key>
    <string>9S723G94YQ.com.lucidfusionlabs.LTerminal</string>
    <key>keychain-access-groups</key>
    <array>
        <string>9S723G94YQ.com.lucidfusionlabs.LTerminal</string>
    </array>
    <key>beta-reports-active</key>
    <true/>
</dict>
</plist>
