IDI_APP_ICON           ICON           "assets\\icon.ico"
200                    900            "assets\\MenuAtlas,0,0,0,0,0.0000.glyphs.matrix"
201                    900            "assets\\MenuAtlas,0,0,0,0,0.0000.png"
202                    900            "..\\core\\lfapp\\lfapp_vertex.glsl"
203                    900            "..\\core\\lfapp\\lfapp_pixel.glsl"
204                    900            "assets\\alien.glsl"
205                    900            "assets\\emboss.glsl"
206                    900            "assets\\fire.glsl"
207                    900            "assets\\fractal.glsl"
208                    900            "assets\\shrooms.glsl"
209                    900            "assets\\stormy.glsl"
210                    900            "assets\\twistery.glsl"
211                    900            "assets\\warper.glsl"
212                    900            "assets\\water.glsl"
213                    900            "assets\\waves.glsl"
