IDI_APP_ICON           ICON           "icon.ico"
200                    900            "..\\core\\app\\assets\\MenuAtlas,0,255,255,255,0.0000.glyphs.matrix"
201                    900            "..\\core\\app\\assets\\MenuAtlas,0,255,255,255,0.0000.png"
202                    900            "..\\core\\app\\shaders\\default.vert"
203                    900            "..\\core\\app\\shaders\\default.frag"
204                    900            "..\\core\\app\\shaders\\shadertoy\\alien.frag"
205                    900            "..\\core\\app\\shaders\\shadertoy\\emboss.frag"
206                    900            "..\\core\\app\\shaders\\shadertoy\\fire.frag"
207                    900            "..\\core\\app\\shaders\\shadertoy\\fractal.frag"
208                    900            "..\\core\\app\\shaders\\shadertoy\\darkly.frag"
209                    900            "..\\core\\app\\shaders\\shadertoy\\stormy.frag"
210                    900            "..\\core\\app\\shaders\\shadertoy\\twistery.frag"
211                    900            "..\\core\\app\\shaders\\shadertoy\\warper.frag"
212                    900            "..\\core\\app\\shaders\\shadertoy\\water.frag"
213                    900            "..\\core\\app\\shaders\\shadertoy\\waves.frag"
214                    900            "..\\core\\app\\assets\\VeraMoBd.ttf,32,255,255,255,4.0000.glyphs.matrix"
215                    900            "..\\core\\app\\assets\\VeraMoBd.ttf,32,255,255,255,4.0000.png"
