<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>487877031058-25ds61ffmdojnpo57t3rnb1a8gbjb72i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487877031058-25ds61ffmdojnpo57t3rnb1a8gbjb72i</string>
	<key>API_KEY</key>
	<string>AIzaSyCvjAocEO8h3RSNcs0ndTg_mj2FSe6lHWc</string>
	<key>GCM_SENDER_ID</key>
	<string>487877031058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucidfusionlabs.LTerminal</string>
	<key>PROJECT_ID</key>
	<string>lterminal-75ad9</string>
	<key>STORAGE_BUCKET</key>
	<string>lterminal-75ad9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:487877031058:ios:8fa46cc1bcc1d7bd</string>
	<key>DATABASE_URL</key>
	<string>https://lterminal-75ad9.firebaseio.com</string>
</dict>
</plist>