<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.lucidfusionlabs.LTerminal">
    <uses-sdk android:minSdkVersion="19"
              android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="com.lucidfusionlabs.LTerminal.MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lucidfusionlabs.app.ListViewActivity">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b8bfc53a14ff223e3cf7df5039c377bdac3ca074" />        
    </application>
</manifest> 
